* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e21;
}
h1,
h2,
h3,
table,
h4,
nav,
td,
p {
  font-family: "Formula1 Display-Regular", sans-serif;
}

a {
  text-decoration: none;
}

/* For the nav */
a {
  color: white;
}

.top-nav-container {
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-bottom: solid 4px #e10600;
}
li {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin: 20px 40px 20px 40px;
  padding: 15px 32px;
  border: none;
  border-radius: 30px;
}

li:hover {
  background-color: red;
}

.winner-header {
  text-align: center;
  color: white;
}

.winner-header > h1 {
  border-bottom: #e10600 4px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* latest race winner container*/

.last-winner-container-1st {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 500px;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: #e10600 4px solid;
}
.last-winner-container-2nd-left {
  float: left;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 49%;
  height: 100%;
  border-right: 4px grey outset;
}
.last-winner-container-2nd-right {
  float: right;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  position: relative;
}
.last-winner-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.image-container {
  background-color: #3671c6;
  margin-top: 10%;
  border: 4px white solid;
  border-radius: 50%;
  width: 35%;
  height: 60%;
}
.container-stats {
  width: 50%;
  height: 50%;
  border: 4px grey solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border-radius: 25%;
}
/* .container-stats > h2 {
  color: white;
} */
.flag-td {
  height: 40px;
  width: 40px;
  border: white 2px solid;
  border-radius: 50%;
}
table {
  color: white;
}

.last-winner-container > h2 {
  color: white;
  text-align: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* .winner-image {
  width: 220px;
  height: 180px;
  position: relative;
  border-radius: 25%;
  align-items: center;
  padding-left: 50px;
  padding-right: 25px;
  margin-top: 13px;
} */
/* .winner-image-container {
  align-items: center;
  display: inline-block;
  position: relative;
  width: 30%;
  height: 100%;
  background-color: #3671c6;
  border-radius: 15%;
  margin-top: 27px;
  margin-left: 10%;
  margin-bottom: 100px;
  border: whitesmoke 4px solid;
} */

/* .track-name {
  text-align: center;
  color: white;
  padding-left: 35%;
} */
/* .winner-stats-container {
  position: relative;
  align-items: center;
  display: inline-block;
  border-left: 4px solid black;
  width: 45%;
  height: 25%;
  margin-left: 5%;
} */
/* .track-header {
  width: 50px;
  align-items: center;
  padding-right: 40%;
} */

/* .stats-track-image {
  margin-left: 10%;
  width: 40%;
  height: 10%;
  display: inline-block;
} */
/* th {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
} */
td {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

/* FLAG */
/* .flag {
  height: 30px;
  width: 45px;
  border-radius: 50%;
} */

/* Schedule */

.schedule {
  padding-top: 5%;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: none;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.schedule-container {
  position: relative;
  text-align: center;
  flex-wrap: wrap;
  color: white;
  width: 25%;
  height: 500px;
  border: black solid 4px;
  border-radius: 15px 50px;
}

h4 {
  padding-top: 10px;
}

h5 {
  background-color: #1e1e21;
  padding-bottom: 20px;
}

.winner-name-container {
  border-top: 5px red solid;
  display: flex;
  padding-top: 65px;
  bottom: 0;
  left: 100px;
}
.schedule-track-image {
  height: 25%;
  border-bottom: red 4px solid;
  border-top: #e10600 3px solid;
}

.schedule-track-flag {
  margin-top: 10px;
  /* height: 20px;
  border-radius: 50%;
  border: white 2px solid; */
  height: 40px;
  width: 40px;
  border: white 2px solid;
  border-radius: 50%;
}

/* 1st 2nd 3rd containers */

.scheduled-winner-image-container-1st {
  /* margin-top: 15%; */
  width: 29%;
  flex-wrap: wrap;
  display: inline-block;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
  border-radius: 30px;
  align-content: flex-start;
  background-color: #3671c6;
  margin-top: 7%;
}

.scheduled-winner-image-container-2nd {
  /* margin-top: 5%; */
  width: 25%;
  flex-wrap: wrap;
  display: inline-block;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
  border-radius: 30px;
  align-content: flex-start;
  background-color: #3671c6;
}

.scheduled-winner-image-container-3rd {
  /* margin-top: 5%; */
  height: 20%;
  width: 22%;
  flex-wrap: wrap;
  display: inline-block;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
  border-radius: 30px;
  align-content: flex-start;
  background-color: #e80020;
}
.red-bull-background {
  background-color: #3671c6;
}

.ferrari-background {
  background-color: #e10600;
}

.mclaren-background {
  background-color: #ff8000;
}

.scheduled-winner-image {
  height: 100%;
  width: 100%;
  /* border-bottom: #e10600 solid 4px; */
  display: flex;
  border-bottom: 2px white solid;
  border-radius: 30px;
}

.track-schedule-containers {
  /* background-color: white; */
  padding-top: 10%;
}

/* Highlights */

.highlights {
  position: relative;
  width: 100%;
  height: 200px;
  padding-top: 5%;
  display: flex;
  margin: 0 auto;
  background-color: none;
  gap: 10px;
  justify-content: space-evenly;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}
.highlights-containers:hover {
  background-color: black;
}

.highlights-containers {
  /* order: 1; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  position: relative;
  text-align: center;
  display: inline-block;
  width: 10%;
  height: 120%;
  color: white;
  border: white solid 4px;
  border-radius: 15px 50px 30px;
}

.highlights-flag {
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  height: 50%;
}

.weather-api-container {
  /* padding-top: 5%; */
  /* float: right; */
  width: 50%;
  height: 100%;
  /* position: relative; */
  width: 50%;
  height: 500px;
  border: white solid 4px;
  margin-bottom: 10%;
  border-radius: 15px;
}

.api-container > h1,
h3 {
  border-bottom: #e10600 solid 3px;
  text-align: center;
  color: white;
}

.api-headers {
  width: 80px;
  color: aliceblue;
  display: inline-block;
  margin-left: 10%;
  border-right: #e10600 4px solid;
}

.api-p {
  color: aliceblue;
  display: inline-block;
  margin-left: 30px;
}

.api-time {
  margin-left: 5%;
  color: aliceblue;
  display: inline-block;
}

.api-track-image {
  margin-left: 60%;
  text-align: center;
}

/* .weather {
  float: right;
} */

.api-container1 {
  width: 50%;
  height: 100%;
  /* border: red solid 3px; */
}

.api-container2 {
  width: 50%;
  height: 100%;
  /* border: red solid 3px; */
  float: right;
}
