h1,
h2,
h3,
table,
h4,
nav,
td,
p {
  font-family: "Formula1 Display-Regular", sans-serif;
}

body {
  background-color: #1e1e21;
}

a {
  color: white;
}

.top-nav-container {
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-bottom: solid 4px #e10600;
}
li {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin: 20px 40px 20px 40px;
  padding: 15px 32px;
  border: none;
  border-radius: 30px;
}

li:hover {
  background-color: red;
}
.winner-header {
  color: white;
  width: 50%;
  display: flex;
  height: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.just-header > h1 {
  border-bottom: #e10600 4px solid;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
.head-table {
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-style: none;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.driver-table {
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 15%;
}

td {
  color: black;
  height: 30px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

tr {
  justify-content: center;
  text-align: center;
  align-items: center;
}

#tr-id {
  background-color: grey;
  color: white;
}

.red-bull-table {
  background-color: #3671c6;
  color: white;
}
.ferrari-table {
  background-color: #e10600;
  color: white;
}
.mclaren-table {
  background-color: #ff8000;
  color: white;
}
.mercedes-table {
  background-color: #27f4d2;
  color: black;
}
.astons-table {
  background-color: #229971;
  color: white;
}
.haas-table {
  background-color: #b6babd;
  color: black;
}
.williams-table {
  background-color: #64c4ff;
  color: black;
}
.sauber-table {
  background-color: #52e252;
  color: black;
}
.rb-table {
  background-color: #6692ff;
  color: white;
}
.alpine-table {
  background-color: #ff87bc;
  color: white;
}

.flag {
  width: 25px;
  height: 25px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
}

.red-bull-table {
  background-color: #3671c6;
  color: white;
}
.ferrari-table {
  background-color: #e10600;
  color: white;
}
.mclaren-table {
  background-color: #ff8000;
  color: white;
}
.mercedes-table {
  background-color: #27f4d2;
  color: black;
}
.astons-table {
  background-color: #229971;
  color: white;
}
.haas-table {
  background-color: #b6babd;
  color: black;
}
.williams-table {
  background-color: #64c4ff;
  color: black;
}
.sauber-table {
  background-color: #52e252;
  color: black;
}
.rb-table {
  background-color: #6692ff;
  color: white;
}
.alpine-table {
  background-color: #ff87bc;
  color: white;
}

.image-team-table {
  width: 100px;
  height: 100px;
}
